---
import { getCollection } from "astro:content"
const collections = await getCollection('docs')
---

<div class="absolute left-0 bg-gray-900 h-screen text-white w-56 flex gap-1 flex-col">
   {collections.map((collection) => (
      <a href={collection.slug} class="hover:bg-gray-700 text-center p-3 rounded-xl px-5">
         <span >{collection.slug}</span>
      </a>
   ))}
</div>